@import 'tailwindcss';

@theme {
	--color-*: initial;

	--color-background-main: #0a0a0a;
	--color-background-card: #171717;

	--color-text: #f0f0f0;
	--color-dropzone: #555555;
	--color-dropzone-text: #a0a0a0;
	--color-dropzone-hover: #404040;
	--color-button: #efefef;
	--color-button-text: #000000;

	--color-footer-text: #f0f0f0;

	--color-uploadcard-text: #f0f0f0;
	--color-uploadcard-progressbar-background: #0f0f0f;
	--color-uploadcard-progressbar-main: #bfbfbf;

    --color-overlimit: #ee0000;

	--font-sans: 'Inter Variable', sans-serif;
	--font-mono: monospace;
}
